//-------------------------
//----------------VARIABLES
//-------------------------

//-----COLORS
$c-black           : #000;
$c-white           : #fff;
$c-red             : #C4133f;
$c-yellow          : #fcc419;
$c-darkBlue        : #4f4f6f;     
$c-grey            : #7d7d7d;
$c-lightGrey       : #bbb;
$c-background      : #f9fafc;
$c-orange          : #eb8b50;
$c-neutral         : #eee;
$c-background2     : #f2f2f6;

//-----PATHS
$localFontBase: "/fonts/";
$imgBaseUrl   : "/images/";


//------DIMENSIONS
$baseFontSize: 10;
$fullWidth: 100%;
$fullHeight: 100%;

//------FONT
$fontDefault     : Arial, Helvetica, Tahoma, sans-serif;
$baseFont: 'Roboto', sans-serif;



//------MEDIA QUERIES
$desktop--Large  : 1700px;
$desktop         : 1440px;
$tablet          : 1023px;
$mobile			 : 767px;

