//-------------------------
//----------- HEADER
//-------------------------

.header {
	position: relative;
	height: 8rem;
	background-color: $c-white;
	&__nav {
		display: inline-block;
		padding: 0 9rem 0 4rem;
		@include breakpoint(tablet) {
			display: none;
			position: absolute;
			top: 8rem;
			left: 0;
			width: 100%;
			margin-left: 0;
			z-index: 5555;
			background-color: $c-black;
		}
		li {
			padding: 3.3rem 3.3rem 3.3rem 1rem;
			font-size: 1.6rem;
			letter-spacing: -0.6px;
			@include breakpoint(tablet--landscape) {
				font-size: 2rem;
			}
			@include breakpoint(tablet) {
				display: block;
				color: $c-white;
			}
			svg {
				width: 0.8rem;
				height: 0.8rem;
				margin-left: 1.5rem;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
	&__logo {
		position: relative;
		float: left;
		width: 23.2rem;
		height: 100%; 
		background-color: $c-red;
		z-index: 666;
		@include breakpoint(mobile) {
			width: 45%;
		}
		img {
			width: 100%;
			@include breakpoint(mobile) {
				width: 80%;
			}
		}
	}
	&__search {
		display: inline-block;
		padding: 3.3rem 5rem;
		background-color: #ebebeb;
		span {
			font-weight: 300;
			font-size: 1.6rem;
			color: #7d7d7d;
		}
		svg {
			height: 1.5rem;	
			width: 1.5rem;
			margin-right: 1.5rem;
		}
	}
	&__auth {
		display: inline-block;
		a {
			padding: 3.3rem 2rem;
			font-size: 1.6rem;
			color: #332f2f;
			text-decoration: none;
		}
	}
	&__menuBtn {
		display: none;
		@include breakpoint(tablet) {
			display: block;
			@include absolute(center-vertical);
			left: 3rem;
			cursor: pointer;
			svg {
				width: 4rem;
				height: 4rem;
				fill: $c-black;
			}
		}
	}
}