//-------------------------
//----------- LIVE FEEDS
//-------------------------

.liveFeeds {
	padding: 10rem 4rem 2rem;
	background-color: $c-background2;
	&__title {
		margin-bottom: 3rem;
		font-size: 4rem;
		color: $c-darkBlue;
		text-align: center;
	}
	&__subtitle {
		margin: 4rem auto;
		width: 50%;
		font-size: 1.6rem;
		line-height: 1.5;
		color: $c-grey;
		text-align: center;
	}
}

.mediaLive {
	width: 100%;
	height: 10rem;
	margin-bottom: 3rem;
	border-radius: 1rem;
	overflow: hidden;
	&__img {
		position: relative;
		float: left;
		width: 10%;
		height: 100%;
		@include linearGradient(#fda085, #fcc419);
		img {
			@include absolute(center);
			width: 60%;
		}
	}
	&__content {
		float: left;
		width: 90%;
		height: 100%;
		padding: 2.5rem;
		background-color: $c-white;
		p {
			float: left;
			width: 70%;
			padding-right: 1rem;
			font-size: 1.6rem;
			line-height: 1.5;
			color: $c-darkBlue;
		}
		.user {
			float: left;
			width: 10%;
		}
		.content-items {
			float: left;
			width: 20%;
			span {
				display: block;
				font-size: 1.6rem;
				line-height: 1.5;
				color: $c-darkBlue;
			}
			.date {
				font-size: 1.3rem;
				color: $c-grey;
			}
		}
	}
}