//-------------------------
//----------- MEDIA WALL
//-------------------------
.wall-wrapper {
	position: relative;
	height: auto;
	overflow: hidden;
}
.img-decor {
	position: absolute;
	left: -15%;
    bottom: -6%;
    width: 70%;
    z-index: 0;
}

.mediaWall {
	padding: 4rem 2rem 2rem;
	overflow: hidden; 
	background-color: $c-background;
	&__top {
		margin: 2rem 0;
	}
	&__title {
		display: inline-block;
		margin-left: 1rem;
		font-size: 4.8rem;
		color: $c-darkBlue;
	}
	.btn-more {
		float: right;
		color: $c-orange;
		border: 0.2rem solid $c-orange;
		background-color: $c-white;
	}
}
