//-------------------------
//----------- PAGE WRAPPER
//-------------------------

.pageWrapper {
	position: relative;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	background-color: #fff;
	// z-index: -55;
	overflow: hidden;
}