//---------------------------
//------------  MEDIA
//---------------------------

.media {
	position: relative;
	float: left;
	width: 30.6%;
	margin: 2.5rem 1.5rem;
	height: 21.5rem;
	cursor: pointer;
	border-radius: 1rem;
	overflow: hidden;
	&__title {
		display: inline-block;
		margin-left: 1rem;
		font-size: 4.8rem;
		color: $c-darkBlue;
	}
	&__img {
		position: relative;
		float: left;
		width: 50%;
		height: 100%;
		@include linearGradient(#fda085, #fcc419);
		img {
			@include absolute(center);
		}
	}
	&__content {
		float: left;
		width: 50%;
		height: 100%;
		padding: 3rem;
		background-color: $c-white;
	}
	.data {
		margin-bottom: 2rem;
		span {
			display: block;
		}
		.up {
			margin-bottom: 0.5rem;
			font-size: 1.2rem;
			font-weight: 500;
			color: $c-grey;
			text-transform: uppercase; 
		}
		.down {
			font-size: 1.6rem;
		}
	}
	.btn-more {
		float: right;
	}
}